html,
body {
    margin: 0;
    height: 100%;
}

#root {
    font-family: 'Roboto', 'Fira Sans Extra Condensed', sans-serif;
    color: rgb(80, 80, 80);
      
    height: 100%;
}

main {
    padding: 40px;
}