.Header {
    padding: 15px 40px;
    font-size: 18px;
    border-bottom: solid 1px rgb(204, 204, 204);
    background-color: rgb(237, 235, 233);
    box-shadow: 1px 1px 4px;
}

.Header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header__logo {
    font-size: 30px;
    text-decoration: none;
    font-family: 'Lacquer';
    color: rgb(80, 80, 80);
}

.Header__link {
    margin: 20px;
    text-decoration: none;
    color: rgb(80, 80, 80);
}

.Header__link:hover {
    border-bottom: 3px solid rgb(190, 190, 190);
}